DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DBNAME"
PORT=4242

STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

EASYPOST_API_KEY=EASYPOST_TEST_...
SENDGRID_API_KEY=SG.xxxx

FROM_EMAIL=store@example.com
FULFILLMENT_WEBHOOK=https://fulfillment.example.com/notify
